// BEGIN BODY FIRST SECTION
%table.templateWhiteBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color: #FFFFFF;", :width => "100%"}
  %tr
    %td{:align => "center", :valign => "top"}

      %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
        %tr
          %td.bodyContainer{:style => "padding-top:10px; padding-bottom:10px;", :valign => "top"}

            %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody.mcnTextBlockOuter
                %tr
                  %td.mcnTextBlockInner{:valign => "top"}

                    %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "366"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:0;", :valign => "top"}
                            %h1 UNE SEMAINE ENFLAMMEE

                    %table.mcnTextContentContainer{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "197"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:0;", :valign => "top"}

                            // SOCIAL LINKS
                            %div{:style => "text-align: right;"}
                              %span{:style => "font-family:arial,Arial neue,Arial,sans-serif"}
                                %strong
                                  %span{:style => "color:#000000"}
                                    %span{:style => "font-size:18px;"} SUIVEZ-NOUS
                              %br/
                              %strong{:style => "font-family:arial,Arial neue,Arial,sans-serif; line-height:20.7999992370605px"}
                                %span{:style => "color: #000000;"}
                                  %span{:style => "font-size:18px"}

                                    // FACEBOOK 
                                    %a{:href => "https://www.facebook.com/lespritdujudoakaedj", :target => "_blank", style: "text-decoration: none;"}>
                                      %img{:align => "none", :alt => "L'esprit du judo - Facebook", :height => "25", :src => "#{image_path('newsletter/facebook-icon.png')}", :style => "width: 25px; height: 25px; margin: 0px;", :width => "25"}/

                                    // TWITTER
                                    %a{:href => "https://twitter.com/lespritdujudo", :target => "_blank", style: "text-decoration: none;"}>
                                      %img{:align => "none", :alt => "L'esprit du judo - twitter", :height => "25", :src => "#{image_path('newsletter/twitter-icon.png')}", :style => "width: 25px; height: 25px; margin: 0px; text-decoration: none;", :width => "25"}/

                                    // DAILYMOTION
                                    %a{:href => "http://www.dailymotion.com/lespritdujudo", :target => "_blank", style: "text-decoration: none;"}
                                      %img{:align => "none", :alt => "L'esprit du judo - Dailymotion", :height => "25", :src => "#{image_path('newsletter/dailymotion-icon.png')}", :style => "width: 25px; height: 25px; margin: 0px;", :width => "25"}/

            %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody.mcnTextBlockOuter
                %tr
                  %td.mcnTextBlockInner{:valign => "top"}

                    %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding: 9px 18px;color: #95A5A6;font-family: Arial, 'Arial Neue', Arial, sans-serif;font-size: 13px;font-weight: normal;line-height: 100%;text-align: left;", :valign => "top"}
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            %br/
                            %br/
                            Ut enim ad minim veniam, quis nostrud exercicommodo sequat.
                            %br/
                            %br/
                            voluptate velit esse cillum dolore eu fugiat. 

            %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody.mcnTextBlockOuter
                %tr
                  %td.mcnTextBlockInner{:valign => "top"}

                    %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding: 9px 18px;color: #000000;font-family: Arial, 'Arial Neue', Arial, sans-serif;font-size: 13px;font-weight: normal;line-height: 200%;", :valign => "top"}
                            %br/
                            Cette semaine, la newsletter vous est présentée par

            %table.mcnImageBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody.mcnImageBlockOuter
                %tr
                  %td.mcnImageBlockInner{:style => "padding:0px", :valign => "top"}

                    %table.mcnImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tbody
                        %tr
                          %td.mcnImageContent{:style => "padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0;", :valign => "top"}
                            %a{:href => "http://www.adidas.com", :target => "_blank", :title => ""}
                              %img.mcnImage{:align => "left", :alt => "", :src => "#{image_path('newsletter/newsletter-pub-01.png')}", :style => "padding-bottom: 0; display: inline !important; vertical-align: bottom; border: 10px solid #eff3f3; max-width: 90%"}/
// END BODY FIRST SECTION