// BEGING A LA UNE ROW
%table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tbody.mcnTextBlockOuter
    %tr
      %td.mcnTextBlockInner{:valign => "top"}
        %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "400"}
          %tbody
            %tr
              %td.mcnTextContent{:style => "padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;", :valign => "top"}
                %table.mcnCaptionBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tbody.mcnCaptionBlockOuter
                    %tr
                      %td.mcnCaptionBlockInner{:style => "padding:0px;", :valign => "top"}
                        %table.mcnCaptionRightContentOuter{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                          %tbody
                            %tr
                              %td.mcnCaptionRightContentInner{:style => "padding:0px ;", :valign => "top"}
                                %table.mcnCaptionRightImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                                  %tbody
                                    %tr
                                      %td.mcnCaptionRightImageContent{:valign => "top"}
                                        %img.mcnImage{:alt => "", :src => "#{image_path('newsletter/icon-more.png')}", :style => "max-width:31px;", :width => "31"}/
                                %table.mcnCaptionRightTextContentContainer{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "320"}
                                  %tbody
                                    %tr
                                      %td.mcnTextContent{:valign => "top"}
                                        %h3 Masters de Rabat - Les seize Japonais engagés
                                        %br
                                        Même privé du triple champion du monde Masashi Ebinuma, de Shohei Ono qui avait ravi l’or...
                                        %br
                                        %br
                                        %strong
                                          %a{:href => "http://www.lespritdujudo.com", :target => "_blank", style: "color: #fc1200;"} EN SAVOIR PLUS
// END A LA UNE ROW