// BEGING DIVIDER                
%table.mcnDividerBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tbody.mcnDividerBlockOuter
    %tr
      %td.mcnDividerBlockInner{:style => "padding: 10px 18px;"}
      
        %table.mcnDividerContent{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-top-width: 3px;border-top-style: solid;border-top-color: #FFFFFF;", :width => "100%"}
          %tbody
            %tr
              %td
                %span
// END DIVIDER