// BEGIN HEADER
%table#templateHeader{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", style: "background-color: #eff3f3;"}
  %tr
    %td{:align => "center", :valign => "top"}

      %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
        %tr
          %td.headerContainer{:style => "padding-top:10px; padding-bottom:10px;", :valign => "top"}

            %table.mcnImageBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody.mcnImageBlockOuter
                %tr
                  %td.mcnImageBlockInner{:style => "padding:0px", :valign => "top"}

                    %table.mcnImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                      %tbody
                        %tr
                          %td.mcnImageContent{:style => "padding-right: 0px; padding-left: 0px; padding-top: 0; padding-bottom: 0; text-align:center;", :valign => "top"}
                            %a{:href => "http://www.lespritdujudo.com/", :target => "_blank", :title => ""}
                              %img.mcnImage{:align => "center", :alt => "Newsletter - L'esprit du judo - L'info du judo en continu", :src => "#{image_path('newsletter/header.png')}", :style => "max-width:600px; padding-bottom: 0; display: inline !important; vertical-align: bottom;", :width => "600"}/

            %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody.mcnTextBlockOuter
                %tr
                  %td.mcnTextBlockInner{:valign => "top"}

                    %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "282"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding: 9px 0px 9px 18px; font-family: Arial, 'Arial Neue', Arial, sans-serif; font-size: 12px; font-weight: bold;", :valign => "top"}
                            NEWSLETTER N° 325

                    %table.mcnTextContentContainer{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "282"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding: 9px 18px 9px 0px; font-family: Arial, 'Arial Neue', Arial, sans-serif; font-size: 12px; font-weight: bold;text-align: right;", :valign => "top"}
                            %span{:style => "color:#fc1200"} 
                              04 / 05 / 2015
// END HEADER