// BEGIN PREHEADER
%table#templatePreheader{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tr
    %td{:align => "center", :valign => "top"}

      %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
        %tr
          %td.preheaderContainer{:style => "padding-top:9px;", :valign => "top"}

            %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody.mcnTextBlockOuter
                %tr
                  %td.mcnTextBlockInner{:valign => "top"}
                  
                    %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;", :valign => "top"}
                            %p.p1
                              %a{:href => "http://www.lespritdujudo.com/", :target => "_blank"}
                                %span.s1 Visualiser la news dans le navigateur
// END PREHEADER