// BEGING CALENDRIER ITEM
%table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tbody.mcnTextBlockOuter
    %tr
      %td.mcnTextBlockInner{:valign => "top"}

        %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "400"}
          %tbody
            %tr
              %td.mcnTextContent{:style => "padding-top:9px; padding-right: 18px; padding-bottom: 9px; padding-left: 18px;", :valign => "top"}

                %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                  %tbody
                    %tr
                      %td.mcnTextContent{:style => "padding-top:0px; padding-left:0px; padding-bottom:0px; padding-right:0;", :valign => "top"}

                        %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0"}
                          %tbody
                            %tr
                              %td.mcnTextContent{:style => "padding-top:2px; padding-left:8px; padding-bottom:2px; padding-right:8px; background-color: #000000; text-align: center;", :valign => "middle", align: "center"}
                                %span{ style: "color: #FFFFFF" }
                                  mai
                            %tr
                              %td.mcnTextContent{:style => "padding-top:5px; padding-left:5px; padding-bottom:5px; padding-right:5px; background-color: #e62829; text-align: center;", :valign => "middle"}
                                %span{ style: "color: #FFFFFF" }
                                  23

                %table.mcnTextContentContainer{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "300"}
                  %tbody
                    %tr
                      %td.mcnTextContent{:style => "padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:0;", :valign => "middle"}
                        %h3 
                          %span{ style: "font-size: 13px; text-decoration: underline; font-weight: normal;" }
                            Master de Rabat (Maroc)
                        %span{ style: "font-size: 13px;" }
                          23-24 mai 2015    
// END CALENDRIER ITEM