// BEGING CALENDRIER PUB
%table.mcnImageContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tbody
    %tr
      %td.mcnImageContent{:style => "padding-right: 9px; padding-left: 9px; padding-top: 0; padding-bottom: 50px;", :valign => "top"}
        %img.mcnImage{:align => "center", :alt => "", :src => "#{image_path('newsletter/calendrier-pub-01.png')}", :style => "max-width:157px; padding-bottom: 0; display: inline !important; vertical-align: bottom; border: 10px solid #FFFFFF;"}/
// END CALENDRIER PUB        