// BEGING TITLE BOUTIQUE
%table.templateWhiteBody{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "background-color: #FFFFFF;", :width => "100%"}
  %tr
    %td{:align => "center", :valign => "top"}

      %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
        %tr
          %td.bodyContainer{:style => "padding-top:10px; padding-bottom:10px;", :valign => "top"}

            %table.mcnTextBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody.mcnTextBlockOuter
                %tr
                  %td.mcnTextBlockInner{:valign => "top"}

                    %table.mcnTextContentContainer{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "366"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding-top:9px; padding-left:18px; padding-bottom:9px; padding-right:0;", :valign => "top"}
                            %h2 BOUTIQUE
                            %span{ style: "border-bottom: 2px solid #fc1200; display: block; width: 50px; padding-top: 10px;" }

                    %table.mcnTextContentContainer{:align => "right", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "197"}
                      %tbody
                        %tr
                          %td.mcnTextContent{:style => "padding-top:9px; padding-right:18px; padding-bottom:9px; padding-left:18px;", :valign => "top"}

                            %table.mcnButtonBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                              %tbody.mcnButtonBlockOuter
                                %tr
                                  %td.mcnButtonBlockInner{:align => "center", :style => "padding-top:0; padding-right:18px; padding-bottom:18px; padding-left:18px;", :valign => "top"}

                                    %table.mcnButtonContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate !important;border: 1px solid #010101;border-radius: 0px;"}
                                      %tbody
                                        %tr
                                          %td.mcnButtonContent{:align => "center", :style => "font-family: Arial; font-size: 13px; padding: 10px;", :valign => "middle"}
                                            %a.mcnButton{:href => "http://www.lespritdujudo.com", :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #010101; text-transform: uppercase;", :target => "_blank", :title => "VOIR + DE PRODUITS"} VOIR + DE PRODUITS
// END TITLE BOUTIQUE                                                  
// BEGIN COLUMNS BOUTIQUE
%table.templateWhiteColumns{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%", style: "background-color: #FFFFFF"}
  %tr
    %td{:align => "center", :valign => "top"}

      %table.templateContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "600"}
        %tr
          %td.columnsContainer{:align => "left", :valign => "top", :width => "33%"}

            %table.templateColumn{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tr
                %td.leftColumnContainer{:valign => "top"}

                  = render partial: "newsletters/boutique/boutique_item"

          %td.columnsContainer{:align => "left", :valign => "top", :width => "33%"}

            %table.templateColumn{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tr
                %td.centerColumnContainer{:valign => "top"}

                  = render partial: "newsletters/boutique/boutique_item"

          %td.columnsContainer{:align => "left", :valign => "top", :width => "33%"}

            %table.templateColumn{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tr
                %td.rightColumnContainer{:valign => "top"}

                  = render partial: "newsletters/boutique/boutique_item"
                                  
// END COLUMNS BOUTIQUE