// BEGING BOUTIQUE ITEM 
%table.mcnCaptionBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
  %tbody.mcnCaptionBlockOuter
    %tr
      %td.mcnCaptionBlockInner{:style => "padding:9px;", :valign => "top"}

        %table.mcnCaptionBottomContent{:align => "left", :border => "0", :cellpadding => "0", :cellspacing => "0", :width => "false"}
          %tbody
            %tr
              %td.mcnCaptionBottomImageContent{:align => "center", :style => "padding:0 9px 9px 9px;", :valign => "top"}
                %img.mcnImage{:alt => "", :src => "#{image_path('newsletter/first-column-boutique.png')}", :style => "max-width:157px;", :width => "100%"}/
            %tr
              %td.mcnTextContent{:style => "padding:0 9px 0 9px;", :valign => "top", :width => "164"}
                %div{:style => "text-align: center;"}
                  Your text caption goes here. You can change the position and width of the caption from the block settings tab.

                %table.mcnButtonBlock{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
                  %tbody.mcnButtonBlockOuter
                    %tr
                      %td.mcnButtonBlockInner{:align => "center", :style => "padding-top:10px; padding-right:10px; padding-bottom:18px; padding-left:10px;", :valign => "top"}
                        %table.mcnButtonContentContainer{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "border-collapse: separate !important;border: 1px solid #FC1200;border-radius: 0px;", width: "100%"}
                          %tbody
                            %tr
                              %td.mcnButtonContent{:align => "center", :style => "font-family: Arial; font-size: 13px; padding: 10px;", :valign => "middle"}
                                %a.mcnButton{:href => "http://www.lespritdujudo.com", :style => "font-weight: bold;letter-spacing: normal;line-height: 100%;text-align: center;text-decoration: none;color: #FC1200; text-transform: uppercase;", :target => "_blank", :title => "Acheter"} Acheter
// END BOUTIQUE ITEM 